<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<div id="basement" class='basement'>
		<% if (!user){ %>
			<a href="/auth/google">Sign On with Google</a>
		<% } else {%>
			<div class='box' style='top:360px;left:10px;width:480px;height;176px'>
				<div id='memberBoard' class='box'></div>
				<a href="/logout">Logout</a>
				userinfo :<div id="displayName"><%= user.displayName %></div>
				<div><%= user.user_id %></div>
				<div><%= user.email %></div>
				<div>入室ルーム数</div><div id='roomCount'><%= user.room_ids.length %></div>
			</div>
			<div class='box' style='top:10px;left:10px;width:480px;height:300px'>
				<div id='roomBase' class='baseBox' style='top:0px;left:0px'>
					<div class='box' style='top:2px;left:2px;width:174px;height:294px'>
						<div class='box' style='top:2px;left:2px;height:26px;width:168px'>
							<input type="text" name="roomName" id="roomName" class='basebox' style='top:1px;left:2px;width:110px'/>
							<button id="createBtn" class='basebox' style='left:118px'>作成</button>
						</div>
						<div class='box' style='top:32px;left:2px;width:168px;height:228px'>
							<div id="roomlist"></div>
						</div>
					</div>
				</div>

				<div id='friendBase' class='baseBox' style='top:0px;left:0px'>
					<div class='box' style='top:2px;left:2px;width:174px;height:294px'>
						<div class='box' style='top:2px;left:2px;height:26px;width:168px'>
							<input type="text" name="friendName" id="friendName" class='basebox' style='top:1px;left:2px;width:110px'/>
							<button id="searchBtn" class='basebox' style='left:118px'>検索</button>
						</div>
						<div class='box' style='top:32px;left:2px;width:168px;height:228px'>
							<div id="friendlist"></div>
						</div>
					</div>
				</div>
				<div class='box' style='top:264px;left:2px;width:168px;height:26px'>
					<div id='roomBtn' class='btnbox' style='top:2px;left:2px;width:78px;height:20px'>部屋</div>
					<div id='friendBtn' class='btnbox' style='top:2px;left:86px;width:78px;height:20px'>友人</div>
				</div>
			<div class='box' style='top:2px;left:180px;width:296px;height:294px'>
				<% if (user.room_ids.length != 0 ){ %>
					<div id='chatBasement' class='box' style='top:2px;left:2px;width:290px;height:258px'>
						<dl id="list"></dl>
					</div>
					<div class='box' style='top:264px;left:2px;width:289px;height: 26px'>
					<input type="text" name="message" id="message" class='basebox' style='top:1px;left:2px;width:224px'/>
						<button id="btn" class='basebox' style='left:232px'>送信</button>
					</div>
				<% } %>
			</div>
			</div>
			<script type="text/javascript" src="/socket.io/socket.io.js"></script>
			<script type="text/javascript" src="/javascripts/chat.js"></script>
		<% } %>
</div>
</body>
</html>
