<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel='stylesheet' href='/stylesheets/jquery.jscrollpane.css' />
	<link rel='stylesheet' href='/stylesheets/rq-style.css' />
	<% if(user){ %>
		<script data-main="/javascripts/rq-main" src="/javascripts/require.js"></script>
	<% } else { %>
		<script data-main="/javascripts/rq-sub" src="/javascripts/require.js"></script>
	<% } %>

</head>
<body>
	<div id="basement" class='basement'>
		<!--- Tab -->
		<div id="selectTab" class='tabBox'>
			<div id='friendTab' class='tabPage'><div class='tHead'>friend</div><div id='friendBody' class='tBody'></div></div>
			<div id='roomTab'	class='tabPage'><div class='tHead'>Room</div><div id='roomBody' class='tBody'></div></div>
			<div id='chatTab'	class='tabPage'><div class='tHead'>chat</div><div id='chatBody' class='tBody'></div></div>
			<div id='manageTab' class='tabPage'><div class='tHead'>Manage</div><div id='manageBody' class='tBody'></div></div>
		</div>
		<!--- Header -->
		<% if(!user){ %>
			<div id="baseheads" class='headerBox' style='display:block'>
				<div id='myLogin'	class='textS'>
					<a href="/auth/google">Sign On with Google</a>
				</div>
			</div>
		<% } else { %>
			<div id="baseheads" class='headerBox'>
				<div id='myPhoto'	class='photoL' style='background-image:url(<%= user.photo %>)'></div>
				<div id='myName'	class='textL'><%= user.displayName %></div>
				<div id='myEmail'	class='textS'><%= user.email %></div>
				<div id='myComment' class='textS textEllipsis'><%= user.comment %></div>
				<div id='myLogout'	class='textS'>
					<a href="/logout">Logout</a>
				</div>
			</div>
		<% } %>
		<!-- chat header -->
		<div id='chatheads' class='headerBox'>
			<div id='roomPict' class='photoL chPhoto'></div>
			<div id='roomName' class='textS chName'></div>
			<div id='roomCnt' class='textS chCnt'></div>
				<div id='myLogout'	class='textS'>
					<a href="/logout">Logout</a>
				</div>
		</div>
		<!-- header end -->
			<!--- Friend List -->
			<div id="friendBase" class='baseBox'>
			</div>
			<!--- Room List -->
			<div id="roomBase" class='baseBox'>
			</div>
			<!--- chat -->
			<div id="chatBase" class='baseBox'>
			</div>
			<div id="chatBox">
				<textarea id='chatEntry' rows='4' cols='20'></textarea>
			</div>
			<!--- ManageFriend -->
			<div id="manageBase" class='baseBox'>
			</div>
			<div id='newFriendBox'>
				<input id='newFriend' class='textM' type=text>
				<div id='newFriendAdd' class='textM'>検索</div>
			</div>
			<!-- detailWin -->
			<div id='detailWin' class='textDetail'>
			</div>
	</div>
			<!-- dialog -->
			<div id='dlg'>
				<p id='dlgText'></p>
				<div id='dlgBtnBase'></div>
			</div>
</body>
</html>
